body {
  text-align: center;
  background-color: #83ff9d;
  font-family: 'Ropa Sans';
}
h1 {
  font-size: 3em;
}

#left-explanation {
  text-align: justify;
}

#score-title {
  text-align: center;
}

#score-board {
  display: block;
  height: 50px;
  width: 50px;
  text-align: left;
  background-color: #fff2c7;
  border: 2px solid black;
  border-radius: 5px;
  border-style: outset;
  box-shadow: 0 0 5px;
  border-width: 3px;
}

#score {
  font-size: 2em;
  text-align: center;
}

#right-explanation {
  text-align: justify;
}

#container {
  margin: 0 auto;
  background-color: #fff2c7;
  border: 2px solid black;
  border-radius: 5px;
  border-style: outset;
  box-shadow: 0 0 5px;
  border-width: 3px;
}

h3 {
  text-align: center;
}

#guess-board {
  display: inline;
}

.guess-row {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 0 0 0;
  margin: 10px 0;
  width: auto;
  background-color: #83ff9d;
  box-shadow: 0 0 5px;
}

.guess {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: inline-block;
  background-color: white;
  margin: 0 8px;
  border: 2px solid black;
  border-style: outset;
  border-width: 2px;
  box-shadow: 1px 1px;
}

#result-board {
  display: inline;
}

.result-row {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 0 0 0;
  margin: 10px 0 10px 0;
  height: 37px;
  background-color: #83ff9d;
  box-shadow: 0 0 5px;
}

.result {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: white;
  margin: 0 2px;
  border: 2px solid black;
  box-shadow: 1px 1px;
}

#select-board {
  height: 100px;
  margin-bottom: 20px;
  display: inline-table;
}


select, input {
  background-color: #83ff9d;
  border-color: black;
  border-radius: 5px;
  font-family: 'Ropa Sans';
  box-shadow: 0 0 5px;
  border-style: outset;
  border-width: 1px;
  margin: 5px 0 0 0;
}

input {
  border-width: 2px;
  border-style: outset;
  box-shadow: 0 0 5px;
  padding: 7px 9px;
  margin-top: 10px;
  border-radius: 5px;
}

.opt-red {
  background-color: red;
}

.opt-orange {
  background-color: orange;
}

.opt-yellow {
  background-color: yellow;
}

.opt-green {
  background-color: green;
}

.opt-blue {
  background-color: blue;
}

.opt-purple {
  background-color: purple;
}

#reset-btn {
  background-color: #83ff9d;
  border-color: black;
  font-family: 'Ropa Sans';
  border-width: 2px;
  border-style: outset;
  box-shadow: 0 0 5px;
  padding: 7px 7px;
}
