body {
  text-align: center;
}

#container {
  background-color: green;
}

#rows {
  float: left;
  display: block;

}


.row {
  border: 2px solid black;
  paddding: 10px;
  margin: 10px;
  height: 50px;
  width: 50%;
}

#result-board {
  background-color: pink;
  border: 2px solid black;
  paddding: 10px;
  margin: 10px;
  height: 50px;
  width: 50%;
  clear: left;
}
